@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a202c;
  color: #fff;
}
input {
  outline: none;
  border: 1px solid #ccc;
}
button {
  cursor: pointer;
}

.trash-icon {
  border: 1px solid white;
  border-radius: 50%;
  padding: 4px;
  color: red;
}

.trash-icon:hover {
  color: darkred;
}
